<aside class="col-md-4 sidebar">
  <!-- start widget -->
  <div class="widget">
    <h4 class="title"><%=config.site.name%></h4>
    <div class="content community">
      <p><%=config.site.signature%></p>
      <p>
        <a href="<%=config.site.githubUrl%>" title="Github" target="_blank"><i class="fa fa-github"></i> SinalVee's Github</a>
      </p>
      <%if (user) {%>
      <p>
        <a href="/logout" title="Logout"><i class="fa fa-sign-out"></i> Logout</a>
      </p>
      <%}%> 
    </div>
  </div>
  <!-- end widget -->
</aside>