<%include ../inc/header.html%>
<%posts.forEach(function(post) {%>
  <article id="<%=post._id%>" class="post">
    <div class="post-header">
      <a href="/post/view/<%=post._id%>"><h1 class="post-title"><%=post.title%></h1></a>
      <div class="post-meta">
        <div class="pull-left">
          <span>作者：</span>
          <span class="post-author"><%=post.author%></span>
          <span>发布时间：<%=post.time%></span>
        </div>
        <div class="pull-right">
          <span>阅读：</span>
          <span><%=post.viewCount%></span>
        </div>
      </div>
    </div>
    <div class="post-content"><%-post.content%></div>
    <div class="post-links">
      <div class="post-read-more pull-left">
        <a href="/post/view/<%=post._id%>" class="btn btn-default btn-main">阅读全文</a>
      </div>
      <%if (user) {%>
        <div class="post-control pull-right">
          <a href="/post/edit/<%=post._id%>" class="btn btn-default btn-main">编辑</a>
          <%if (post.hide) {%>
            <a href="/post/show/<%=post._id%>" class="btn btn-default btn-main">取消隐藏</a>
          <%} else {%>
            <a href="/post/hide/<%=post._id%>" class="btn btn-default btn-main">隐藏</a>
          <%}%>
          <a href="/post/delete/<%=post._id%>#" class="btn btn-default btn-main">删除</a>
        </div>
      <%}%>
    </div>
  </article>
<%});%>
<%include ../inc/footer.html%>